<style>
li{
    list-style: none;
    font-size: 25px;

    color: rgb(35, 35, 34);
}
.col-2{
    font-weight: 700;
}
</style>
<div class="admin-profile-container">
    <div class="admin-profile row d-flex justify-content-center align-items-center">
        <div class="col-12 profile d-flex justify-content-center py-5">
            <img src="../assets/img/avatar3.jpg" alt="" style="width: 450px;"><br>
        </div>
        <div class="col-12  d-flex justify-content-center border-bottom">
            <h1>salis abdul basit</h1>
        </div>

        <div class="col-2 d-flex align-items-end flex-column mt-5">
            <li>email</li>
            <li>ip address</li>
            <li>last login</li>
            <li>last logout</li>
        </div>
        <div class="col-9 mt-5">
            <li>salis@gmail.com</li>
            <li>12:34:43</li>
            <li>12 april</li>
            <li>12 november</li>
        </div>
    </div>

</div>