

<div class="admin-main">

    <%#include('header') %>
    <div class="row">
      <%- include('admin_sidebar') %>
      <div class=" row test home_row">

        <div class="bookings-container d-flex justify-content-center align-items-center">
            <div class="bookings row py-4">
        
                <div class="col-3">booking date</div>
                <div class="col-9">
                    <input type="text" class="form-control">
                </div>
        
                <div class="col-3">type</div>
                <div class="col-9">
                    <select name="type" id="type" class="form-control">
                        <option value="">option</option>
                        <option value="">df</option>
                        <option value="">df</option>
                    </select>
                </div>
        
                <div class="col-3">route name</div>
                <div class="col-9">
                    <select name="type" id="type" class="form-control">
                        <option value="">option</option>
                        <option value="">df</option>
                        <option value="">df</option>
                    </select>
                </div>
        
                <div class="col-3">trip id</div>
                <div class="col-9"><input type="text" class="form-control"></div>
        
                <div class="col-3">age</div>
                <div class="col-9"><input type="text" class="form-control"></div>
        
                <div class="col-3">disability</div>
                <div class="col-9"><input type="text" class="form-control"></div>
        
                <div class="col-3">price</div>
                <div class="col-3 price"><input type="text" class="form-control" placeholder="price"></div>
                <div class="col-3 discount px-0"><input type="text" class="form-control" placeholder="discount"></div>
                <div class="col-3 amount pr-4 pl-0"><input type="text" class="form-control" placeholder="amount"></div>
        
                <div class="col-3">passenger email</div>
                <div class="col-9"><input type="text" class="form-control"></div>
        
                <div class="col-3">pick up location</div>
                <div class="col-9">
                    <select name="type" id="type" class="form-control">
                        <option value="">option</option>
                        <option value="">df</option>
                        <option value="">df</option>
                    </select>
                </div>
        
                <div class="col-3">drop location</div>
                <div class="col-9">
                    <select name="type" id="type" class="form-control">
                        <option value="">option</option>
                        <option value="">df</option>
                        <option value="">df</option>
                    </select>
                </div>
        
                <div class="col-3">payment status</div>
                <div class="col-9">
                    <select name="type" id="type" class="form-control">
                        <option value="">option</option>
                        <option value="">paid</option>
                        <option value="">not paid</option>
                    </select>
                </div>
        
                <div class="col-12 d-flex justify-content-end pr-5">
                    <button class="btn btn-primary mx-1">reset</button>
                    <button class="btn btn-success mx-1">reset</button>
                </div>
        </div>
        </div>
      </div>
  
  
    </div>
  
  </div>