  <div class="man row d-flex justify-content-center align-items-center">
            <div class="info-card col-3 col-sm-11 col-md-4">
                <div class="card">
                    <div class="card-icon">
                        <span><i class="fa fa-bus"></i></span>
                    </div>
                    <div class="card-detail">
                        <h4>schedule buses</h4>
                        <h2>2</h2>
                    </div>
                    <p>incresa by 20%</p>
                </div>
            </div>
        
        
            <div class="info-card col-3 col-sm-11 col-md-4">
                <div class="card">
                    <div class="card-icon">
                        <span><i class="fa fa-bus"></i></span>
                    </div>
                    <div class="card-detail">
                        <h4>total bookings</h4>
                        <h2>$2322</h2>
                    </div>
                    <p>incresa by 20%</p>
                </div>
            </div>
        
            <div class="info-card col-3 col-sm-11 col-md-4">
                <div class="card">
                    <div class="card-icon">
                        <span><i class="fa fa-bus"></i></span>
                    </div>
                    <div class="card-detail">
                        <h4>destinations</h4>
                        <h2>5</h2>
                    </div>
                    <p>incresa by 20%</p>
                </div>
            </div>
        </div>