
<div class="bookings-container d-flex justify-content-center align-items-center">
    <div class="bookings row py-4">
        <div class="col-12">
            <!-- <button class="btn btn-success mx-1 rounded-0"><a class="nav__drop__item">inbox</a></button>
            <button class="btn btn-warning mx-1 rounded-0"><a class="nav__drop__item">sent</a></button> -->
            <button class="btn btn-warning mx-1 rounded-0"><a href="/admin/message" id="back_message">back to message</a></button>
        </div>

        <div class="col-3">Receiver name</div>
        <div class="col-9">
            <select name="type" id="type" class="form-control">
                <option value="">option</option>
                <option value="">basit</option>
                <option value="">salis</option>
                <option value="">sab</option>
            </select>
        </div>

        <div class="col-3">subject</div>
        <div class="col-9">
            <input type="text" class="form-control">
        </div>
   
        <div class="col-3">message</div>
        <div class="col-9"> <textarea type="text" class="new-subject form-control"></textarea></div>

        <div class="col-12 d-flex justify-content-end pr-5">
            <button class="btn btn-primary mx-1 rounded-0">reset</button>
            <button class="btn btn-success mx-1 rounded-0">send</button>
        </div>
</div>
</div>