<div class="container displa seat__container">
    <div class="row">
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100"><a href="./paymentSlip">1</a></button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">1</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">1</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">2</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">3</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">4</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">5</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">6</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">7</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">8</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">9</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">10</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">11</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">12</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">13</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">14</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">15</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">16</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">17</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">18</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">19</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">20</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">21</button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100">22</button></div>
    </div>
</div>