<div class="container displa" style="height:100px">
    <div class="row">
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100"><a href="./paymentSlip">1</a></button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100"><a href="./paymentSlip">2</a></button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100"><a href="./paymentSlip">3</a></button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100"><a href="./paymentSlip">4</a></button></div>
        <div class="col-2 seat"><button class="btn btn-primary w-100 h-100"><a href="./paymentSlip">5</a></button></div>
    </div>
</div>