<div class="row mx-2 setting_row">

    <div class="col-12 setting_left">
        <table class="table w-100">
            <tbody>
                <tr>
                    <td><h3>General Settings</h3></td>
                </tr>
                <tr>
                    <td scope="row">
                        <h6>Site title</h6>
                    </td>
                    <td>
                        <input type="text" class="form-control w-75">
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <h6>Tagline</h6>
                    </td>
                    <td>
                        <input type="text" class="form-control w-75">
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <h6>Site Address</h6>
                    </td>
                    <td>
                        <input type="text" class="form-control w-75">
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <h6>Company Site Address</h6>
                    </td>
                    <td>
                        <input type="text" class="form-control w-75">
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <h6>Email Address</h6>
                    </td>
                    <td>
                        <input type="text" class="form-control w-75">
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <h6>weeks Active</h6>
                    </td>
                    <td>
                        <div class="form-group w-50">
                            <label for="working days"></label>
                            <select class="custom-select" name="working_days" id="working_days">
                                <option selected>monday</option>
                                <option value="">tuesday</option>
                                <option value="">wednesday</option>
                                <option value="">thursday</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <h6>Date FOrmat</h6>
                    </td>
                    <td>
                        <div class="form-check w-75 p-0">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" name="name" id="name" aria-label="" style="width: 20px;">
                                <span class="custom-control-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, neque.</span>
                            </label>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td scope="row">
                        <button class="btn btn-secondary" type="submit">save</button>
                    </td>

                </tr>

            </tbody>
        </table>

    </div>

</div>