<footer class="footer position-static" style="margin-top: 10em;">
    <div class="container">
        <div class="footer-items-container row">
            <div class="footer-item col-12 col-sm-3 col-md-2 mb-3 list-unstyled">
                <li><a href="#">account</a></li>
                <li><a href="#">weather in month</a></li>
                <li><a href="#">weather in yeah</a></li>
            </div>
            <div class="footer-item col-12 col-sm-3 col-md-2 mb-3 list-unstyled">
                <li><a href="#">category</a></li>
                <li><a href="#">tropical</a></li>
                <li><a href="#">seasonal</a></li>
            </div>
            <div class="footer-item col-12 col-sm-3 col-md-2 mb-1 list-unstyled">
                <li><a href="#">showtine</a></li>
                <li><a href="#">hourly condition</a></li>
                <li><a href="#">jumbotron</a></li>
            </div>
            <div class="newsletter pt-4 pt-md-0 col-12 col-md-4 list-unstyled">
                <p><i class="fa fa-envelope-o px-1"></i>sign up newletter</p>
                <div class="form-group d-flex pb-2">
                    <input type="emai" name="email" class="form-control" placeholder="amin@uds"> <button class="btn btn-dark search_button">
                        <i class="fa fa-send"></i>
                    </button>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias vitae quasi obcaecati
                    corruptiiditate quod sint.sequuntur quas!</p>
            </div>

        </div>
        <hr style="background-color: rgb(202, 196, 196);">
        <div class="social_media d-flex justify-content-around align-items-center">
            <li><a><i class="fa fa-facebook"></i></a></li>
            <li><a><i class="fa fa-instagram"></i></a></li>
            <li><a><i class="fa fa-twitter"></i></a></li>
            <li><a><i class="fa fa-telegram"></i></a></li>
            <li><a><i class="fa fa-google-plus"></i></a></li>
        </div>


        <p class="float-right">&copy; copyright should go here</p>

    </div>
</footer>