<div class="closeHomeSidebar"><i class="fa fa-close"></i></div>
<nav class="navbar bg-transparent d-flex justify-content-lg-between justify-content-sm-center align-item-center px-md-0 px-lg-5">
	
	<a href="#" class="logo">gobus</a>
	<ul class="nav justify-content-lg-around justify-content-md-center align-items-center">
		<li class="nav-item">
			<a class="nav-link active" href="#">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">About Us</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">Contatc Us</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#">View</a>
		</li>


		<div class="nav-item dropdown border-none open">
			<button class="btn text-white dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false">
				Dropdown
			</button>
			<div class="dropdown-menu" aria-labelledby="triggerId">
				<a class="dropdown-item text-dark" href="./users/signin">signin</a>
				<a class="dropdown-item text-dark" href="./users/signup">signup</a>
				<a class="dropdown-item text-dark" href="./signout">signout</a>
			</div>
		</div>

	</ul>
</nav>
<div class="bars">
	<li class="bar li"><span><i class="fa fa-bars"></i></span></li>

</div>