<header class="hero bg-dark">
    <%- include('header') %>
    <div class="row d-flex justify-content-center align-items-center head">

        <div class="col-sm-12 col-md-6 head-item-left">
            <h1>ullam quia corrupti enim facere. Qui, veritatis modi?</h1><br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci cumque, vitae
                ad sequi soluta totam esse, cupiditate, beatae numquam tempora officia eaque praesentium debitis
                pariatur saepe accusantium dolorem corrupti et.</p><br>
            <div class="d-flex justify-content-between w-75">
                <button class="btn btn__all__inverse">book</button>
                <button class="btn btn__all">About us</button>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 head-item-right">
            <div class="why-us-container px-3 py-3">
                <div class="why-us d-flex p-md-2 my-md-4 my-sm-2">
                    <span class="d-flex justify-content-center align-items-center p-3 mx-1"><i
                            class="fa fa-download"></i></span>
                    <p> services Lorem ipsum d omnis hicsoluta saepe ipsa aspernatur rerum corrupti harum quam. Quasi!
                    </p>
                </div>
                <div class="why-us d-flex p-md-2 my-md-4 my-sm-1">
                    <span class="d-flex justify-content-center align-items-center p-3 mx-1"><i
                            class="fa fa-download"></i></span>
                    <p>Lorem ipsum d omnis hicsoluta saepe ipsa aspernatur rerum corrupti harum quam. Quasi!</p>
                </div>
                <div class="why-us d-flex p-md-2 my-md-4 my-sm-1">
                    <span class="d-flex justify-content-center align-items-center p-3 mx-1"><i
                            class="fa fa-download"></i></span>
                    <p>Lorem ipsum d omnis hicsoluta saepe ipsa aspernatur rerum corrupti harum quam. Quasi!</p>
                </div>
                <div class="why-us d-flex p-md-2 my-md-4 my-sm-1">
                    <span class="d-flex justify-content-center align-items-center p-3 mx-1"><i
                            class="fa fa-download"></i></span>
                    <p>Lorem ipsum d omnis hicsoluta saepe ipsa aspernatur rerum corrupti harum quam. Quasi!</p>
                </div>

            </div>
        </div>
    </div>
</header>


   <section class="companies-section">
       <div class="row companies mt-5">
           <div class="col-12 p-md-5">
               <h3 id="header">topic here</h3>
           </div>
           <div class="col-sm-12 col-md-6 col-lg-4 my-4">
               <div class="company-home p-0">
                   <div class="pb-4">
                       <img src="../assets/img/stc3.jfif" alt="" style="width: 100%;">
                   </div>
                   <h3 class=" sub-header p-3">INTERCITY STC COACH</h3>
                   <p class="px-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quibusdam.
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat sint quibusdam
                       tenetur dolorem totam et quos perferendis repellendus perspiciatis aut?
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptas,
                       cupiditate, sunt earum vero numquam esse autem aperiam excepturi, natus quo
                       dicta cum tempore! Voluptas iusto tenetur amet totam aut.
                   </p>
                   <div class="company-home-footer d-flex justify-content-between align-items-center w-100 p-3">
                       <a href="/users/company"><button class="btn btn__all">Book a Ticket</button></a>
                       <a href="#">feedback</a>
                   </div>
               </div>

           </div>

           <div class="col-sm-12 col-md-6 col-lg-4 my-4">
            <div class="company-home p-0">
                <div class="pb-4">
                    <img src="../assets/img/stc3.jfif" alt="" style="width: 100%;">
                </div>
                <h3 class=" sub-header p-3">INTERCITY STC COACH</h3>
                <p class="px-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quibusdam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat sint quibusdam
                    tenetur dolorem totam et quos perferendis repellendus perspiciatis aut?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptas,
                    cupiditate, sunt earum vero numquam esse autem aperiam excepturi, natus quo
                    dicta cum tempore! Voluptas iusto tenetur amet totam aut.
                </p>
                <div class="company-home-footer d-flex justify-content-between align-items-center w-100 p-3">
                    <a href="/users/company"><button class="btn btn__all">Book a Ticket</button></a>
                    <a href="#">feedback</a>
                </div>
            </div>

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 my-4">
            <div class="company-home p-0">
                <div class="pb-4">
                    <img src="../assets/img/stc3.jfif" alt="" style="width: 100%;">
                </div>
                <h3 class=" sub-header p-3">INTERCITY STC COACH</h3>
                <p class="px-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quibusdam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat sint quibusdam
                    tenetur dolorem totam et quos perferendis repellendus perspiciatis aut?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptas,
                    cupiditate, sunt earum vero numquam esse autem aperiam excepturi, natus quo
                    dicta cum tempore! Voluptas iusto tenetur amet totam aut.
                </p>
                <div class="company-home-footer d-flex justify-content-between align-items-center w-100 p-3">
                    <a href="/users/company"><button class="btn btn__all">Book a Ticket</button></a>
                    <a href="#">feedback</a>
                </div>
            </div>

        </div>

      


       </div>
   </section>



   <%- include('footer') %>