<header class="hero bg-dark">
    <%- include('header') %>
    <div class="row d-flex justify-content-center align-items-center head">

        <div class="col-sm-12 col-md-6 head-item-left">
            <h1>ullam quia corrupti enim facere. Qui, veritatis modi?</h1><br>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci cumque, vitae
                ad sequi soluta totam esse, cupiditate, beatae numquam tempora officia eaque praesentium debitis
                pariatur saepe accusantium dolorem corrupti et.</p><br>
            <div class="d-flex justify-content-between w-75">
                <button class="btn btn__all__inverse">book</button>
                <button class="btn btn__all">About us</button>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 head-item-right">
            <div class="why-us-container px-3 py-3">
                <div class="why-us d-flex p-md-2 my-md-4 my-sm-2">
                    <span class="d-flex justify-content-center align-items-center p-3 mx-1"><i
                            class="fa fa-download"></i></span>
                    <p> services Lorem ipsum d omnis hicsoluta saepe ipsa aspernatur rerum corrupti harum quam. Quasi!
                    </p>
                </div>
                <div class="why-us d-flex p-md-2 my-md-4 my-sm-1">
                    <span class="d-flex justify-content-center align-items-center p-3 mx-1"><i
                            class="fa fa-download"></i></span>
                    <p>Lorem ipsum d omnis hicsoluta saepe ipsa aspernatur rerum corrupti harum quam. Quasi!</p>
                </div>
                <div class="why-us d-flex p-md-2 my-md-4 my-sm-1">
                    <span class="d-flex justify-content-center align-items-center p-3 mx-1"><i
                            class="fa fa-download"></i></span>
                    <p>Lorem ipsum d omnis hicsoluta saepe ipsa aspernatur rerum corrupti harum quam. Quasi!</p>
                </div>
                <div class="why-us d-flex p-md-2 my-md-4 my-sm-1">
                    <span class="d-flex justify-content-center align-items-center p-3 mx-1"><i
                            class="fa fa-download"></i></span>
                    <p>Lorem ipsum d omnis hicsoluta saepe ipsa aspernatur rerum corrupti harum quam. Quasi!</p>
                </div>

            </div>
        </div>
    </div>
</header>


<section class="App-use">
    <div class="jumbotron jumbotron-fluid App-use-content" id="paddingSide">
        <div class="row">
            <div class="col-12 text-primary p-3">
                <h1 id="header"> Lorem ipsum</h1>
            </div>

            <div class="col-12 col-md-4 d-flex flex-column justify-content-between align-items-start">
                <span><i class="fa fa-code"></i></span>
                <h5 class="sub-header">heading comes here</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa repellat nulla tempora velit nemo ad
                    accusamus? Maiores impedit minus similique? Ducimus, accusamus consequatur illo dignissimos
                    voluptatibus eaque? Culpa perferendis ipsum fugit adipisci? Deserunt, libero esse alias beatae illum
                    nisi praesentium fugiat eligendi in minima eum corporis error quas eos voluptates am, voluptatum.
                </p>
                <!-- <br><button class="btn btn-primary">go to</button> -->
            </div>

            <div class="col-12 col-md-4 d-flex flex-column justify-content-between align-items-start">
                <span><i class="fa fa-code"></i></span>
                <h5 class="sub-header">heading comes here</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa repellat nulla tempora velit nemo ad
                    accusamus? Maiores impedit minus similique? Ducimus, accusamus consequatur illo dignissimos
                    voluptatibus eaque? Culpa perferendis ipsum fugit adipisci? Deserunt, libero esse alias beatae illum
                    nisi praesentium fugiat eligendi in minima eum corporis error quas eos voluptates am, voluptatum.
                </p>
                <!-- <br><button class="btn btn-primary">go to</button> -->
            </div>
            <div class="col-12 col-md-4 d-flex flex-column justify-content-between align-items-start">
                <span><i class="fa fa-code"></i></span>
                <h5 class="sub-header">heading comes here</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa repellat nulla tempora velit nemo ad
                    accusamus? Maiores impedit minus similique? Ducimus, accusamus consequatur illo dignissimos
                    voluptatibus eaque? Culpa perferendis ipsum fugit adipisci? Deserunt, libero esse alias beatae illum
                    nisi praesentium fugiat eligendi in minima eum corporis error quas eos voluptates am, voluptatum.
                </p>
                <!-- <br><button class="btn btn-primary">go to</button> -->
            </div>

        </div>
    </div>

</section>


<section class="app-section pt-5">
    <div class="row head" id="paddingSide">
        <div class="col-12 col-md-6 about-app border p-0">
            <img src="../assets/img/AAH8Jqa.png" alt="" style="width: 100%; height: 100%;">
        </div>

        <div class="col-12 col-md-6 about-app d-flex align-items-start flex-column px-5">
            <h2 class="py-4" id="header">Lorem, ipsum dolor.</h2>
            <p class="sub-header">Lorem, ipsum dolor.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat temporibus excepturi, id sed veritatis
                sunt voluptatum
                tenetur nihil laboriosam recusandae amet porro voluptas dicta qui reiciendis odit non sequi cumque!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat temporibus excepturi, id sed veritatis
                sunt voluptatum
                tenetur nihil laboriosam recusandae amet porro voluptas dicta qui reiciendis odit non sequi cumque!</p>
            <button class="btn btn__all pt-2">search</button>
        </div>

        <div class="col-12 col-md-6 about-app d-flex align-items-start flex-column px-5">
            <h2 class="py-4" id="header">Lorem, ipsum dolor.</h2>
            <p class="sub-header">Lorem, ipsum dolor.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat temporibus excepturi, id sed veritatis
                sunt voluptatum
                tenetur nihil laboriosam recusandae amet porro voluptas dicta qui reiciendis odit non sequi cumque!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat temporibus excepturi, id sed veritatis
                sunt voluptatum
                tenetur nihil laboriosam recusandae amet porro voluptas dicta qui reiciendis odit non sequi cumque!</p>

            <button class="btn btn__all pt-2">search</button>
        </div>

        <div class="col-12 col-md-6 about-app border p-0">
            <img src="../assets/img/AAH8Jqa.png" alt="" style="width: 100%; height: 100%;">
        </div>
    </div>
</section>

<section class="FAQs my-5">
    <div class="row FAQs-content" id="paddingSide">
        <div class="col-12">
            <p class="text-white" id="header">
                Lorem, ipsum.
            </p>
        </div>
        <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center">
            <div class="FAQs__left">
                <img src="../assets/img/b9a2b488bd60441fa166c6df5af16605.jpg" alt="" class="img-responsive vis border">
                <div class="sli s1"></div>
                <div class="sli s2"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 d-flex justify-content-start align-items-start">
            <div class="FAQs__right">
                <div class="FAQs__item">
                    <p>Lorem ipsum dolor sit amet.ipsum dolor sit amet</p><span><i class="fa fa-arrow-down"></i></span>
                </div>
                <div class="FAQs__item">
                    <p>Lorem ipsum dolor sit amet.ipsum dolor sit amet</p><span><i class="fa fa-arrow-down"></i></span>
                </div>
                <div class="FAQs__item">
                    <p>Lorem ipsum dolor sit amet.ipsum dolor sit amet</p><span><i class="fa fa-arrow-down"></i></span>
                </div>
                <div class="FAQs__item">
                    <p>Lorem ipsum dolor sit amet.ipsum dolor sit amet</p><span><i class="fa fa-arrow-down"></i></span>
                </div>
                <div class="FAQs__item">
                    <p>Lorem ipsum dolor sit amet.ipsum dolor sit amet</p><span><i class="fa fa-arrow-down"></i></span>
                </div>
                <div class="FAQs__btn d-flex justify-content-start align-items-end" style="width: 80%; height: 60px;">
                <button class="btn btn__all__inverse">hohoh</button>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="transport-companies">
    <div class="row" id="paddingSide">
        <div class=" col-12 section-title animate__animated animate__rubberBand">
            <h2 id="header">our products</h2>
        </div>
        <div class="col-12 col-md-4 company">
            <div class="about-company-container text-white border-danger"
                style="background: url(../assets/img/b9a2b488bd60441fa166c6df5af16605.jpg);">
                <div class="about-company px-5">
                    <p>Lorem ipsum dolor voluptatem?ipsum dolor voluptatem?ipsum dolor voluptatem?ipsum dolor
                        voluptatem?</p>
                    <button class="btn btn-warning">book ?bus</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 company">
            <div class="about-company-container text-white border-danger"
                style="background: url(../assets/img/b9a2b488bd60441fa166c6df5af16605.jpg);">
                <div class="about-company px-5">
                    <p>Lorem ipsum dolor voluptatem?ipsum dolor voluptatem?ipsum dolor voluptatem?ipsum dolor
                        voluptatem?</p>
                    <button class="btn btn-warning">book ?bus</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 company">
            <div class="about-company-container text-white border-danger"
                style="background: url(../assets/img/b9a2b488bd60441fa166c6df5af16605.jpg);">
                <div class="about-company px-5">
                    <p>Lorem ipsum dolor voluptatem?ipsum dolor voluptatem?ipsum dolor voluptatem?ipsum dolor
                        voluptatem?</p>
                    <button class="btn btn-warning">book ?bus</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feeds">
    <div class="row feeds__row" id="paddingSide">
        <div class="col-sm-12 col-md-4 feeds__left p-5">
            <p class="text"> cLorem ipsum dolor sit amet, consectetur adipisicing elit. Error laudantium
                perspiciatis odit molestiae, tempore sit amet eaque autem ullam cum iste. Quaerat illo quo
                voluptatem magnam? Cum minima officiis reiciendis!</p>
        </div>
        <div class="col-sm-12 col-md-8 feeds__right">
            <div class="d-flex flex-column justify-content-center align-items-center border-top-0">
                <div class="message">
                    <h2>contact us</h2>
                    <p>let hear from you; consectetur adipistinctio illo.</p>
                </div>
                <div class="form-group user__detail py-3">
                    <textarea name="User_msg" id="" class="form-control rounded " placeholder="message"></textarea>
                    <input type="text" class="form-control mt-2 rounded" placeholder='mail'>

                    <button class="btn btn-primary feeds__btn btn-block mt-3">hello</button>

                </div>
            </div>
        </div>
    </div>
</section>




<%- include('footer') %>