<!DOCTYPE html>
<html>

<head>
    <title>shopify</title>
    <meta name="viewport" content="width=device-width, initial-scal=1.0">

    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="/../assets/font/css/all.css">
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="/../assets/css/recovery.css">
    <link rel="stylesheet" href="/../assets/css/signin.css">
    <link rel="stylesheet" href="/../assets/css/signup.css">
    <link rel="stylesheet" href="/../assets/css/headerCss.css">
    <link rel="stylesheet" href="/../assets/css/footer.css">
    <link rel="stylesheet" href="/../assets/css/admin.css">
    <link rel="stylesheet" href="/../assets/css/company.css">
    <link rel="stylesheet" href="/../assets/css/signin.css">
    <link rel="stylesheet" href="/../assets/css/signup.css">
    <link rel="stylesheet" href="/../assets/css/recover.css">
    <link rel="stylesheet" href="/../assets/css/animate.min.css">
    <link rel="stylesheet" href="/../assets/css/slick.css">
    <link rel="stylesheet" href="/../assets/css/slick-theme.css">
    <link rel="stylesheet" href="/../assets/css/customCss.css">

    <!-- logo -->

</head>

<body>
    <div class="main w-100">
        <!-- root -->
        <%- body %>
    </div>



    <script type="text/javascript" src="../assets/js/popper.min.js"></script>
    <script type="text/javascript" src="../assets/js/jquery.js"></script>
    <script type="text/javascript" src="../assets/js/customJs.js"></script>
    <script type="text/javascript" src="../assets/js/admin.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/slick.js"></script>

       
</body>

</html>