
<div class="admin-main">

    <%#include('header') %>
    <div class="row">
      <%- include('partials/admin_sidebar') %>
      <div class=" row test home_row">

      
      </div>
  
    </div>
  
  </div>